<div [formGroup]="form">

  <label [attr.for]="label.forControl">
    {{label.labelName}}
  </label>

  <div [ngSwitch]="control.controlType">

    <input *ngSwitchCase="'input'" [formControlName]="control.id" [id]="control.id" [type]="control.inputType">

    <select *ngSwitchCase="'select'" [id]="control.id" [formControlName]="control.id">
      <option *ngFor="let data of dataSource.data">
        {{data}}
      </option>
    </select>

  </div>

  <div class="errorMessage" *ngIf="!isValid">
    {{label.labelName}} is required
  </div>
</div>
